In [1]:
import boto3
import pandas as pd
from io import StringIO
from time import sleep

In [2]:
aws_access_key="AKIAQEFAHEY75MPLDEWQ"
aws_secret_key="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"
aws_region="ca-central-1"
schema_name="covid19_dataset"
s3_staging_dir="s3://coviddataa/staroutput/"
s3_bucket_name="coviddataa"
s3_output_directory="staroutput"

In [3]:
athena_client=boto3.client(
    "athena",
  aws_access_key_id = aws_access_key,
  aws_secret_access_key = aws_secret_key,
  region_name = aws_region,
)

In [4]:
Dict= {}
def load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            #client.get_query_execution(QueryExecutionId =query_response["QueryExecutionId"])
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else: 
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id = aws_access_key,
        aws_secret_access_key = aws_secret_key,
        region_name = aws_region
    )
    s3_client.download_file(
        s3_bucket_name,
        f"{s3_output_directory}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [5]:
 response= athena_client.start_query_execution(
     QueryString="SELECT * FROM enigma_jhud",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [6]:
response

{'QueryExecutionId': '2a5a4bc2-f4f7-4824-ba3f-8812eb571271',
 'ResponseMetadata': {'RequestId': 'e705f22c-4cd5-4f55-9709-f84ea6ef7794',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sat, 14 Jan 2023 04:06:51 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'e705f22c-4cd5-4f55-9709-f84ea6ef7794'},
  'RetryAttempts': 0}}

In [7]:
enigma_jhud = load_query_results(athena_client, response)

In [8]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv
2,NaN,ݍ��z5E�R�G��ا�e�6�!:<���w�v�bgYޤw���l}��G��...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv
3,NaN,�h&*��_8_�9�� �7����}u��u����Z�7Z�밙j��«�...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,csv

In [10]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM countrycode",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [11]:
countrycode = load_query_results(athena_client, response)

In [12]:
countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [13]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM countypopulation",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [14]:
countypopulation=load_query_results(athena_client, response)

In [19]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM state_abv",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [20]:
state_abv=load_query_results(athena_client, response)

In [21]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM us_countryyyyyyus_county",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [22]:
us_countryyyyyyus_county=load_query_results(athena_client, response)

In [23]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM us_states",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [24]:
us_states=load_query_results(athena_client, response)

In [25]:
response= athena_client.start_query_execution(
     QueryString="SELECT * FROM rearc_usa_hospital_beds",
     QueryExecutionContext={"Database":schema_name},
     ResultConfiguration={
         "OutputLocation":s3_staging_dir,
         "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
     },
 )

In [27]:
state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [28]:
new_header=state_abv.iloc[0]
state_abv=state_abv[1:]#dataframe from first row
state_abv.columns = new_header

In [29]:
state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [40]:
factcovid_1=enigma_jhud['fips','provinnce_state','country_region','confirmed','deaths','recovered','active']
factcovid_2=rearc_covid_19_testing['fips','date','positive']
fact=pd.merge(factcovid_1,factcovid_2,on='fips',how='inner')

KeyError: ('fips', 'provinnce_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active')

In [34]:
dimRegion_1=enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2=us_countryyyyyyus_county[['fips','county','state']]
dimRegion =pd.merge(dimRegion_1,dimRegion_2, on='fips',how='inner')

In [ ]:
dimDate['date']= pd.to_datetime(dimDate['date'], format='%Y%m%d')
dimDate['year']=dimDate['date'].dt.year
dimDate['month']=dimDate['date'].dt.month
dimDate['days_of_week']=dimDate['date'].dt.dayofweek

In [35]:
bucket ='coviddataa'

In [36]:
csv_buffer =StringIO()

In [37]:
csv_buffer

In [ ]:
factcovid.to_csv(csv_buffer)

In [ ]:
s3_resource=boto3.resource('s3')
s3_resource.Object(bucket,'output/factcovid.csv').put(Body=csv_buffer,getvalue())

In [41]:
dimRegion.to_csv(csv_buffer)

In [43]:
s3_resource=boto3.resource('s3')
s3_resource.Object(bucket,'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '7JECAKJ0X4GMQKF4',
  'HostId': 'BkatW86MCOYtYUqN7aZ1GIFwNldIRo0JvaIoqviX7NY1gG1OlMOMGi66k2VWeYm7YMjE4AZ70oQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'BkatW86MCOYtYUqN7aZ1GIFwNldIRo0JvaIoqviX7NY1gG1OlMOMGi66k2VWeYm7YMjE4AZ70oQ=',
   'x-amz-request-id': '7JECAKJ0X4GMQKF4',
   'date': 'Sat, 14 Jan 2023 04:50:13 GMT',
   'etag': '"8175fddb60b0969f42a1eb9407347d63"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"8175fddb60b0969f42a1eb9407347d63"'}