In [6]:
import pandas as pd
import numpy as np
import matplotlib as plt


x = range(1,10)
y=[123,4,5,6,7,8,9,10]
plt.plot(x,y,'r')
plt.show()

AttributeError: module 'matplotlib' has no attribute 'plot'

In [14]:
df=pd.read_csv('Desktop\mtcars.csv')
df.tail(5)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [23]:
df=pd.read_csv('Desktop\mtcars.csv')
df['wt'].head()

0    2.620
1    2.875
2    2.320
3    3.215
4    3.440
Name: wt, dtype: float64

In [24]:
df.loc[4,'name']

'Hornet Sportabout'