Question 1

In [2]:
import numpy as np
import pandas as pd

Question 2

In [3]:
import matplotlib.pyplot as plt

Question 3

In [5]:
df=pd.read_csv('Desktop\WineQT.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1142 non-null   float64
 1   volatile acidity      1139 non-null   float64
 2   citric acid           1140 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1141 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1141 non-null   float64
 12  Id                    1143 non-null   int64
dtypes: float64(12), int64(1)
memory usage: 116.2 KB

Question 4

In [6]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,4

Question 5

In [10]:
topfivealcohol=df["alcohol"].nlargest(5)
topfivealcohol

462    14.9
96     14.0
98     14.0
329    14.0
419    14.0
Name: alcohol, dtype: float64

Question 6

In [13]:
datatype=df["density"].dtypes
datatype

dtype('float64')

Question 7

In [14]:
df.isnull().sum()

fixed acidity           1
volatile acidity        4
citric acid             3
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 2
pH                      0
sulphates               0
alcohol                 0
quality                 2
Id                      0
dtype: int64

Question 8

Question 9